
#job_page .container {
    margin: 0 auto;
  }
  
  #job_page .header {
    background-image: url('https://brainstation.io/images/v3/get-hired/header.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: #fff;
    
    padding: 100px 0;
    position: relative;
  }
  
  #job_page .header .header__overlay {
    background: rgba(16, 29, 66, 0.65);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  #job_page .header .content {
    max-width: 36rem;
    position: relative;
    z-index: 2;
  }
  
  #job_page .header .content .header__title {
    font-size: 3.42857143rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.02;
    margin-bottom: 1.71428571rem;
    text-shadow: 0 1px 3px rgba(19, 23, 33, 0.304);
  }
  #job_page .header .content .header__title.special { 
    color: #FFCF00;
  }
  
  #job_page .header .content .header__description {
    font-size: 1.14285714rem;
    font-weight: 600;
    line-height: 1.71428571rem;
    margin-bottom: 2.28571429rem;
  }
  
  #job_page .header .content .header__description span {
    color: #ffcf00;
  }
  
  #job_page .header .content .header__apply {
    align-items: center;
    -webkit-appearance: none;
    border-radius: 4px;
    color: #fff;
    display: inline-flex;
    flex-direction: row;
    font-size: 1.071rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1.1rem;
    padding: 15px 24px;
    text-align: center;
    transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    background-size: 250% auto;
    background-image: linear-gradient(to left, #227df9 0%, #7462f9 25%, #df3ef8 50%, #7462f9 75%, #227df9 100%);
    transition: all 0.5s ease;
    transition-timing-function: ease, ease;
  }
  #job_page .header .content .header__apply:hover { 
    background-position: right center;
  }
  #job_page .header .content .header__apply > i { 
    margin-left: 12px;
    font-weight: 900;
    font-size: 18px;
  }