.container circle {
  stroke-width: 8;
  stroke: url(#GradientColor);
  fill: none;
  stroke-dasharray: 50 100;
}

.container text {
  dominant-baseline: middle;
  text-anchor: middle;
  font-size: 10px;
}

.container .bg {
  /* box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2); */
  width: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.8) translateX(-50%);
  position: relative;
  z-index: -2;
  margin-left: 61%;
  /* background-color: blue; */
}
.container .bg::after {
  content: "";
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  background-color: rgba(204, 204, 204, 0.5);
  border-radius: 50%;
  z-index: -3;
  /* filter: brightness(90%); */
}
.container .bg .circle-small {
  position: absolute;
  top: 32px;
  bottom: 32px;
  left: 32px;
  right: 32px;
  box-shadow: inset 0 0 0 3px rgba(204, 204, 204, 0.5);
  border-radius: 50%;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.container .bg .circle-small > span {
  font-size: 30px;
  background: -webkit-linear-gradient(#e91e63, #673ab7);
  background: linear-gradient(#e91e63, #673ab7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.container {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.01);
}
.container .item {
  width: 50%;
  flex-grow: 1;
  height: 500px;
  margin-top: 50px;
}
.container .item .content {
  max-width: 412px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.container .item .content > h1 {
  text-align: center;
  font-size: 26px;
  color: #444449;
}
.container .item .content > p {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #444449;
}
.container .item .content > p > span {
  font-weight: 700;
}
