
#enterpise #procedure {
    padding: 50px;
  }
  #enterpise #procedure p.title {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
  }
  #enterpise #procedure .container {
    display: flex;
  }
  #enterpise #procedure .container .banner {
    padding-right: 50px;
    width: 50%;
    flex-shrink: 0;
  }
  #enterpise #procedure .container .banner h3 {
    font-size: 26px;
    font-weight: 400;
  }
  #enterpise #procedure .container .banner h3 span {
    font-weight: 500;
    display: inline-block;
  }
  #enterpise #procedure .container .banner img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  #enterpise #procedure .container .list .item {
    padding-bottom: 20px;
    cursor: pointer;
    display: flex;
    position: relative;
  }
  #enterpise #procedure .container .list .item .line {
    position: absolute;
    height: 100%;
    width: 1px;
    background: #4a4a4a;
    transform: translateX(-50%);
    left: 35px;
  }
  #enterpise #procedure .container .list .item .line.active {
    width: 3px;
  }
  #enterpise #procedure .container .list .item .number {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #enterpise #procedure .container .list .item .number span {
    background: white;
    border: 2px solid #4a4a4a;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
  }
  #enterpise #procedure .container .list .item .content {
    cursor: pointer;
    transition: 0.3s;
    padding: 18px;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
  }
  #enterpise #procedure .container .list .item .content .title {
    display: flex;
    align-items: center;
  }
  #enterpise #procedure .container .list .item .content .title h3 {
    transition: 0.3s;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
  }
  #enterpise #procedure .container .list .item .content .title:hover h3 {
    color: #23bbbb;
  }
  #enterpise #procedure .container .list .item .content .title button {
    cursor: pointer;
    background: none;
    border: none;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
  }
  #enterpise #procedure .container .list .item .content .title button i {
    font-size: 20px;
  }
  #enterpise #procedure .container .list .item .content .desc {
    max-height: 0;
    transition: 0.3s;
    overflow: hidden;
  }
  #enterpise #procedure .container .list .item .content .desc h3 {
    margin: 20px 0px;
    font-weight: 500;
  }
  #enterpise #procedure .container .list .item .content .desc.active {
    max-height: 500px;
    line-height: 24px;
  }
  #enterpise #procedure .container .list .item:last-child {
    padding-bottom: 0;
  }
  