#workforce {
  padding: 30px;
  width: 100%;
  background: #101d42;
}

#workforce .container {
  display: flex;
  width: 98%;
}

#workforce .container .content,
#workforce .container .form {
  width: 50%;
  flex-shrink: 0;
}

#workforce .container .content {
  color: white;
}

#workforce .container .content h3.title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.4;
}

#workforce .container .content .line {
  width: 50px;
  height: 5px;
  background: #ffcf00;
  margin: 20px 0;
}

#workforce .container .content .desc .desc__title {
  margin: 20px 0;
  padding-right: 50px;
  line-height: 1.4;

}

#workforce .container .content .desc span {
  display: inline-block;
  margin-bottom: 20px;
}

#workforce .container .content .desc ul {
  list-style: none;
}

#workforce .container .content .desc ul li {
  display: flex;
}

#workforce .container .content .desc ul li i {
  color: #ffcf00;
  flex-shrink: 0;
  margin-right: 10px;
}

#workforce .container .form {
  color: white;
  padding: 30px;
  background-color: #343f5e;
  width: 50%;
  border-radius: 5px;
}

#workforce .container .form form {
  margin-top: 20px;
  width: 100%;
  display: grid;
  gap: 20px;
  grid-auto-rows: auto;
  grid-template-columns: repeat(1fr, 12);
  overflow: hidden;
}

#workforce .container .form form .form__item {
  grid-column-end: span 12;
}

#workforce .container .form form .form__item input,
#workforce .container .form form .form__item textarea {
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  outline: none;
  position: relative;
  transition: outline 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  padding: 10px 16px;
}

#workforce .container .form form .form__item-1,
#workforce .container .form form .form__item-2 {
  grid-column-end: span 6;
}

#workforce .container .form form .form__item-2 {
  margin-left: 0;
}

#workforce .container .form form .form__item button {
  width: 100%;
  align-items: center;
  background-color: #1358db;
  border: 1px solid #1358db;
  border-radius: 3px;
  color: #fff;
  display: inline-flex;
  flex-direction: row;
  font-family: AvenirNext, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1.4;
  padding: 15px 24px;
  text-align: center;
  transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  #workforce {
    padding: 8px;
    width: 100%;
    background: #101d42;
  }

  #workforce .container {
    display: block;
    width: 100%;
  }

  #workforce .container .content {
    width: 100%;
  }

  #workforce .container .form {
    width: 100%;
  }

  #workforce .container .form form .form__item {
    grid-column-end: span 12;
    margin-bottom: -8px;
  }

  #workforce .container .form form .form__item-2 {
    margin-left: 0;
  }

  .workforce #eluid8c343808 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #workforce {
    width: 100%;
    padding: 20px;
  }

  #workforce .container {
    width: 100%;
  }

  #workforce .container .content h3.title {
    padding-right: 20px;
  }
}