
#enterpise #workforce {
    padding: 50px;
    background: #101d42;
  }
  #enterpise #workforce .container {
    display: flex;
  }
  #enterpise #workforce .container .content,
  #enterpise #workforce .container .form {
    width: 50%;
    flex-shrink: 0;
  }
  #enterpise #workforce .container .content {
    color: white;
  }
  #enterpise #workforce .container .content h3.title {
    font-weight: 500;
    font-size: 30px;
  }
  #enterpise #workforce .container .content .line {
    width: 50px;
    height: 5px;
    background: #ffcf00;
    margin: 20px 0;
  }
  #enterpise #workforce .container .content .desc .desc__title {
    margin: 20px 0;
  }
  #enterpise #workforce .container .content .desc span {
    display: inline-block;
    margin-bottom: 20px;
  }
  #enterpise #workforce .container .content .desc ul {
    list-style: none;
  }
  #enterpise #workforce .container .content .desc ul li {
    display: flex;
  }
  #enterpise #workforce .container .content .desc ul li i {
    color: #ffcf00;
    flex-shrink: 0;
    margin-right: 10px;
  }
  #enterpise #workforce .container .form {
    color: white;
    padding: 30px;
    background-color: #343f5e;
    width: 50%;
  }
  #enterpise #workforce .container .form form {
    margin-top: 20px;
    width: 100%;
    display: grid;
    gap: 0.71428571rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(1fr, 12);
  }
  #enterpise #workforce .container .form form .form__item {
    grid-column-end: span 12;
  }
  #enterpise #workforce .container .form form .form__item input,
  #enterpise #workforce .container .form form .form__item textarea {
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    outline: none;
    position: relative;
    transition: outline 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    padding: 10px 16px;
  }
  #enterpise #workforce .container .form form .form__item-1,
  #enterpise #workforce .container .form form .form__item-2 {
    grid-column-end: span 6;
  }
  #enterpise #workforce .container .form form .form__item button {
    width: 100%;
    align-items: center;
    background-color: #1358db;
    border: 1px solid #1358db;
    border-radius: 3px;
    color: #fff;
    display: inline-flex;
    flex-direction: row;
    font-family: AvenirNext, Helvetica, Arial, sans-serif;
    font-size: 1.071rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1.1rem;
    padding: 15px 24px;
    text-align: center;
    transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }