* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #374954;
    color: white;
    text-align: center;
}

#main {
    position: relative;
    list-style: none;
    background: #6BBE92;
    font-weight: 400;
    font-size: 0;
    text-transform: uppercase;
    display: inline-block;
    padding: 0;
    margin: 50px auto;
}

#main li {
    font-size: 0.8rem;
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    z-index: 5;
    min-width: 120px;
}

li {
    margin: 0;
}

/* --------- */

.drop {
    overflow: hidden;
    list-style: none;
    position: absolute;
    padding: 0;
    width: 100%;
    left: 0;
    top: 48px;
}

.drop>div {

    max-height: 0px;

    transition: all 1s 0.1s;

    position: relative;
}

.skill.active ul div {
    max-height: 1000px;
}

/* --------- */



.drop li {
    display: block;
    padding: 0;
    width: 100%;
    background: #3E8760 !important;
}