.color-gradient {
    -webkit-text-fill-color: transparent !important;
    background: linear-gradient(to right, #227df9, #7462f9, #df3ef8) !important;
    -webkit-background-clip: text !important;
    -moz-background-clip: text !important;
    background-clip: text !important;
}

.logo_company_page_introduct .col-left-logo-company>h2 {
    font-size: 40px;
    line-height: 1.4;
    color: #111111;
}

.logo_company_page_introduct .col-left-logo-company>p {
    font-size: 16px;
    line-height: 1.4;
    color: #000;
}

.number_run_page_introduc {
    display: flex;
    padding-bottom: 30px;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.number_run_page_introduc::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 2px;
    border-left: 1px dotted #000;
}

.number_run_page_introduc .col-left {
    width: 50%;
    text-align: center;
}

.number_run_page_introduc .col-right {
    width: 50%;
    text-align: center;

}

.number_run_page_introduc .number {
    font-size: 65px;
    line-height: 1.4;
}

.number_run_page_introduc .number .content {
    font-size: 16px;
    line-height: 1.4;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .logo_company_page_introduct h3.tbk__title {
        margin-top: 30px;
    }

    .logo_company_page_introduct .col-left-logo-company>h2 {
        font-size: 26px;
    }

    .logo_company_page_introduct .col-left-logo-company>p {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    .logo_company_page_introduct .col-left-logo-company {
        margin-bottom: 30px;
    }

    .logo_company_page_introduct .col-left-logo-company>h2 {
        font-size: 25px;
    }

    .logo_company_page_introduct .col-left-logo-company>p {
        font-size: 18px;
    }
}