* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 6000px;
    max-width: 1366px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media  (min-width: 993px) {
    .system_study .desktop { 
        margin-top: 10px;
    }
    .system_study .mobile { 
     display: none;
    }
    .system_study .desktop .nav-link img { 
        width: 300px;
        border-radius: 4px;
    }
 }

.system_study .desktop .left {
    width: 50%;
}

.system_study .desktop .right {
    width: 50%;
    margin-left: 400px;
}

.system_study .desktop .nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    

}

.system_study .desktop .nav-item {
    padding: 0 2px;
    list-style: none;
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    opacity: 0;
}
.system_study .desktop .right .section a { 
    color: black;
}

.system_study .desktop .nav-item.active a {
    color: #db7676;
}

.system_study .desktop .nav-item.active {
    opacity: 1;
    display: block;
}

.system_study .desktop #about, .system_study .desktop #services, .system_study .desktop #contact {
    min-height: 700px;
    padding: 50px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 50px;

}

.system_study .desktop #about h2,.system_study .desktop #services h2,.system_study .desktop #contact h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.system_study .desktop .lead {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.6;
}

.system_study .desktop .container ul {
    padding-left: 30px;
    font-size: 18px;
}

@media  (max-width: 992px) {
   .system_study .desktop { 
    display: none;
   }
   .system_study .mobile { 
    padding: 20px;
   }
   .system_study .mobile .nav-mobile{ 
    list-style-type: none;
   }
   .system_study .mobile .nav-mobile .nav-item { 
    margin-bottom: 100px;
   }
   .system_study .mobile .nav-mobile .nav-item .nav-link { 
    display: block;
   }

   .system_study .mobile .nav-link-mobile img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
   }
   .system_study .mobile .section-mobile h2 { 
    margin: 20px 0;
   }
   .system_study .mobile .section-mobile a { 
    margin: 20px 0;
    display: block;
    color: black;
   }
}