@media screen and (min-width: 993px) {
    .fullstackJava_bannerBig .newCourseBegin .content {
        justify-content: space-around;
    }

    .fullstackJava_bannerBig .newCourseBegin .content .item {
        width: 30%;
    }

    .fullstackJava_bannerBig .newCourseBegin .content .item:last-child {
        width: 40%;
    }
}