@media (min-width: 993px) {
  .chien-test .system_study1 .desktop {
    margin-top: 10px;
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: space-between;
    margin-top: -50px;
  }

  .chien-test .system_study1 .desktop .colLeft {
    position: relative;
    width: 100%;
  }

  .chien-test .system_study1 .desktop .left {
    width: 100%;
    max-width: 650px;
    height: 100vh;
    max-height: 500px;
    display: flex;
    align-items: center;
    position: unset;
    top: calc(50% - 250px);
    transform: scale(1);
  }

  .chien-test .system_study1 .desktop .nav-item {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .chien-test .system_study1 .desktop .nav-item:last-child.active {
    opacity: 1;
    top: 85vh;
  }

  .chien-test .system_study1 .desktop .right {
    width: 50%;
    height: 100%;
    position: relative;
  }

  .chien-test .system_study1 .desktop .right .section {
    position: relative;
    height: 100vh;
    max-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .chien-test .system_study1 .desktop .right .section:last-child {
    transform: translateY(-120px);
  }

  .chien-test .system_study1 .desktop .right .section .container {
    max-width: 600px;
    transform: translateX(30px);
  }

  .chien-test .system_study1 .mobile {
    display: none;
  }

  .chien-test .system_study1 .desktop .nav-link img {
    width: 100%;
    height: 500px;
    border-radius: 4px;
    object-fit: contain;
  }
}

.chien-test .system_study1 .desktop .right .section a {
  color: black;
}

.chien-test .system_study1 .desktop .nav-item.active a {
  color: #db7676;
}

.chien-test .system_study1 .desktop .nav-item.active {
  display: block;
  opacity: 1;
}

.chien-test .system_study1 .desktop #about h2,
.chien-test .system_study1 .desktop #services h2,
.chien-test .system_study1 .desktop #contact h2 {
  margin-bottom: 20px;
  font-size: 40px;
}

.chien-test .system_study1 .desktop .lead {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.6;
}

.chien-test .system_study1 .desktop .left .nav-link {
  padding: 0px 10px !important;
  background-color: transparent;
}

.cyber_learning_system .chien-test .system_study1 h2 {
  font-size: 25px;
  line-height: 30px;
}

@media (max-width: 992px) {
  .chien-test .system_study1 .desktop {
    display: none;
  }

  .chien-test .system_study1 .mobile {
    padding: 20px;
  }

  .chien-test .system_study1 .mobile .nav-mobile {
    list-style-type: none;
    padding: 0;
  }

  .chien-test .system_study1 .mobile .nav-mobile .nav-item {
    margin-bottom: 20px;
  }

  .chien-test .system_study1 .mobile .nav-mobile .nav-item .nav-link {
    display: block;
  }

  .chien-test .system_study1 .mobile .nav-link-mobile img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .chien-test .system_study1 .mobile .section-mobile h2 {
    margin: 20px 0;
  }

  .chien-test .system_study1 .mobile .section-mobile a {
    margin: 20px 0;
    display: block;
    color: black;
  }
}