@media screen and (min-width: 993px) {
    .duanthucte_fullstack .customGridVideo .gridContent .item {

        height: 190px;
    }

    .duanthucte_fullstack .item:nth-child(9) {
        grid-column: 1/span 2;
    }

    .duanthucte_fullstack .item:nth-child(10) {
        grid-column: 3/span 2;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .duanthucte_fullstack .customGridVideo .gridContent .item {

        height: 190px;

    }

    .duanthucte_fullstack .item:nth-child(9) {
        grid-column: 1/span 2;
    }

    .duanthucte_fullstack .item:nth-child(10) {
        grid-column: 3/span 2;
    }
}

@media screen and (max-width: 767px) {
    .duanthucte_fullstack .customGridVideo .gridContent .item {

        height: 90px;

    }
}