.cyber_custom_duanthucte .customGridRealProject .gridContent .item:nth-child(2),
.cyber_custom_duanthucte .customGridRealProject .gridContent .item:nth-child(3) {
    grid-column: 3 / span 2;
}

.cyber_custom_duanthucte_3item .customGridRealProject .gridContent .item:first {
    grid-row: 1 / span 2
}

.cyber_custom_duanthucte_golang .customGridRealProject .gridContent .item:nth-child(2) {
    grid-row: 1 / span 2;
}

.upversion_cache {
    position: relative;
}

#eluidc9e24ab1.upversion_cache {
    margin-top: 0;
    margin-bottom: 0;
}

.bg-white {
    background-color: #fff !important;
}

.custom_hotrohoctap {
    padding-left: 20px !important;
}