.slogan * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.slogan a {
  text-decoration: none;
  color: inherit;
}
.slogan h2 {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.slogan {
  margin: 50px;
  margin-top: 200px;
}
.slogan .container {
  display: flex;
}
.slogan .percent {
  width: 248px;
  /* text-align: center; */
  border-right: 1px solid #858585;
  padding-right: 4%;
}
.slogan .percent h2 {
  font-size: 60px;
  color: #05aae1;
  /* margin-bottom: 28px; */
  /* vertical-align: text-top; */
}
.slogan .percent span {
  font-size: 20px;
}

.slogan .content {
  padding-left: 4%;
  display: flex;
  flex-direction: column;
  /* max-width: 620px; */
}
.slogan .content h4 {
  font-size: 30px;
  margin-bottom: 28px;
  /* vertical-align: top; */
  /* font-weight: 700; */
}
.slogan .content p {
  font-size: 20px;
  /* font-weight: 600; */
}

.slogan .user_action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 28px;
}
.slogan .user_action a {
  margin-right: 16px;
  text-transform: uppercase;
  padding: 16px 20px;
  font-weight: 600;
}
.slogan .user_action .signup {
  background-image: linear-gradient(
    to left,
    #227df9 0%,
    #7462f9 25%,
    #df3ef8 50%,
    #7462f9 75%,
    #227df9 100%
  );
  color: white;
  font-size: 18px;
  border: 3px solid transparent;
  background-size: 250% auto;
  border-radius: 1px;
  transition: all 0.5s ease;
}
.slogan .user_action .signup:hover {
  background-image: linear-gradient(
    to right,
    #227df9 0%,
    #7462f9 25%,
    #df3ef8 50%,
    #7462f9 75%,
    #227df9 100%
  );
}

.slogan .user_action .inbox {
  text-decoration: none;
  color: #000;
  border: none !important;
  position: relative;
  transition: all 0.5s ease;
  background-image: linear-gradient(90deg, #2d7af9 30%, #a752f8 80%);
}
.slogan .user_action .inbox .button_inbox {
  position: relative;
  z-index: 2;
  color: black;
  font-size: 18px;
}
.slogan .user_action .inbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #fff;
}
.slogan .user_action .inbox::after {
  content: "";
  position: absolute;
  transition: all 0.5s;
  width: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #2d7af9 30%, #a752f8 80%);
}
.slogan .user_action .inbox:hover::after {
  width: 100%;
  right: 0;
  left: unset;
}

.slogan .user_action .inbox:hover .button_inbox {
  color: #fff;
}

.slogan .listLogo {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
.slogan .listLogo .logo_item {
  padding: 0 24px;
}

@media screen and (max-width: 700px) {
  .slogan .listLogo {
  }
  .slogan .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slogan .percent {
    width: 100%;
    text-align: center;
    border-right: 0px solid #858585;
    border-bottom: 1px solid #333;
    padding-right: 4%;
    padding-bottom: 6%;
  }
  .slogan .content {
    padding: 6% 0 0 0;
    display: flex;
    flex-direction: column;
  }
  .slogan .listLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
  }
  .slogan .listLogo .logo_item {
    padding: 0 12px 30px 12px;
  }

  .slogan .user_action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 28px;
  }
  .slogan .user_action > a {
    display: block;
    text-align: center;
    margin-bottom: 24px;
  }
}
