.tam_nhin_page_introduct .col-left .title {
    position: relative;
}

.tam_nhin_page_introduct .col-left .title::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -32px;
    width: 60px;
    height: 6px;
    background-size: 250% auto;
    background-image: linear-gradient(to left, #227df9 0%, #7462f9 25%, #df3ef8 50%, #7462f9 75%, #227df9 100%);
    transition: all 0.5s ease;
    transition-timing-function: ease, ease;
}

.tam_nhin_page_introduct .col-left>h2 {
    font-size: 26px;
    line-height: 1.4;
}

.tam_nhin_page_introduct .col-left .content {
    line-height: 1.4;
    font-size: 16px;
}

.tam_nhin_page_introduct .col-left .content1 {
    margin-top: 60px;
}

.tam_nhin_page_introduct .col-left .content2 {
    margin-top: 28px;
}

/* 
.tam_nhin_page_introduct .col-right {
    min-height: 400px;
    padding: 50px 64px 0 50px;
}

.tam_nhin_page_introduct .col-right .wrap {
    padding: 0 50px;
    transform-style: preserve-3d;
    position: relative;
}

.tam_nhin_page_introduct .col-right .wrap .bg {
    position: absolute;
    left: 0;
    top: -4px;
    width: 100%;
    z-index: 0;
    transform: translateZ(-50px);
    transform-style: preserve-3d;
}

.tam_nhin_page_introduct .col-right .box {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: -2%;
    z-index: -3;
    transform-style: preserve-3d;
    transform: translateZ(-200px);
}

.tam_nhin_page_introduct .col-right .wrap .bg svg {
    transform: scale(1);
}

.tam_nhin_page_introduct .col-right .wrap .img-main {
    position: absolute;
    left: 8%;
    top: 0;
    height: 400px;
    width: 100%;
    transform-style: preserve-3d;
    transform: translateZ(100px);

}

.tam_nhin_page_introduct .col-right .wrap .img-main img {
    width: 85%;
    height: 70%;
    border-radius: 4px;
    object-fit: cover;
    position: relative;
    bottom: 9px;
    transform: scale(0.85);
} */

.znColumnElement-innerWrapper-eluida599799f,
.znColumnElement-innerWrapper-eluidf0d3feab {
    padding-right: 20px;
}

.tam_nhin_page_introduct .container-main {
    margin: unset;
    position: relative;
    transform-style: preserve-3d;
    min-height: 350px;
}

.tam_nhin_page_introduct .container-main .img_main {
    position: absolute;
    left: 0;
    top: -2%;
    height: 100%;
    width: 80%;
    transform: translateZ(100px);
    z-index: 1;
}

.tam_nhin_page_introduct .container-main .img_main img {
    height: 60%;
    width: 75%;
    transform: scale(0.95);
    border-radius: 4px;
    position: relative;
    left: 14%;
    top: 17%;
    object-fit: cover;
}


.tam_nhin_page_introduct .container-main .box {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 21%;
    bottom: 14%;
    transform: translateZ(-200px);
    z-index: 0;
}

.su_menh_page_introduct .container-main .box {
    top: 0.6%;
}

.tam_nhin_page_introduct .container-main .bg-line {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    z-index: -2;
    transform: translateZ(-50px);

}

.tam_nhin_page_introduct .container-main .bg-line>svg {
    transform: scale(0.9);
}

@media screen and (min-width: 768px) and (max-width:992px) {
    .tam_nhin_page_introduct .container-main {
        transform: none !important;
    }

    .tam_nhin_page_introduct .container-main .bg-line {
        width: 101% !important;
    }

    .tam_nhin_page_introduct .container-main .img_main img {
        height: 57% !important;
        width: 100% !important;
        transform: scale(1);
        position: relative;
        left: 13%;
        top: 8%;
    }

    .tam_nhin_page_introduct .container-main .box {
        right: 6%;
        top: 39%;
    }

    .su_menh_page_introduct .container-main .box {
        top: 1%;
    }
}

@media screen and (max-width: 767px) {
    .tam_nhin_page_introduct .container-main {
        transform: none !important;
        min-height: 200px;
        margin-top: -50px;
    }

    .tam_nhin_page_introduct .container-main .bg-line {
        width: 102%;
    }

    .tam_nhin_page_introduct .container-main .img_main {
        width: 106%;
    }

    .tam_nhin_page_introduct .container-main .bg-line>svg {
        transform: scale(1.05);
    }

    .tam_nhin_page_introduct .container-main .img_main img {
        height: 110%;
        width: 100%;
        transform: scale(0.9);
        border-radius: 4px;
        position: relative;
        left: -1%;
        top: 1%;
        object-fit: cover;
    }

    .tam_nhin_page_introduct .container-main .box {
        width: 80px;
        height: 80px;
        right: -2%;
        bottom: -8%;
    }

    .su_menh_page_introduct .container-main .box {
        top: 0;
    }

    .su_menh_page_introduct .eluid7345978b {
        margin-top: -50px;
    }


}