.tam_nhin_page_introduct .col-left .title {
    position: relative;
}

.tam_nhin_page_introduct .col-left .title::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -32px;
    width: 60px;
    height: 6px;
    background-size: 250% auto;
    background-image: linear-gradient(to left, #227df9 0%, #7462f9 25%, #df3ef8 50%, #7462f9 75%, #227df9 100%);
    transition: all 0.5s ease;
    transition-timing-function: ease, ease;
}

.tam_nhin_page_introduct .col-left>h2 {
    font-size: 26px;
    line-height: 1.4;
}

.tam_nhin_page_introduct .col-left .content {
    line-height: 1.4;
    font-size: 16px;
}

.tam_nhin_page_introduct .col-left .content1 {
    margin-top: 60px;
}

.tam_nhin_page_introduct .col-left .content2 {
    margin-top: 28px;
}

.tam_nhin_page_introduct .col-right {
    display: flex;
    justify-content: center;
}

.tam_nhin_page_introduct .col-right .wrap {
    width: 350px;
    min-height: 240px;
    position: relative;
}

.tam_nhin_page_introduct .col-right .wrap::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 9px;
    right: -16px;
    width: 100px;
    height: 125px;
    background-size: 250% auto;
    background-image: linear-gradient(to left, #227df9 0%, #7462f9 25%, #df3ef8 50%, #7462f9 75%, #227df9 100%);
    transition: all 0.5s ease;
    transition-timing-function: ease, ease;
}

.su_menh_page_introduct .col-right .wrap::after {
    display: none;
}

.tam_nhin_page_introduct .col-right .wrap .bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    transform: translateZ(-200px);
}

.tam_nhin_page_introduct .col-right .wrap .bg svg {
    transform: scale(1.1);
}

.tam_nhin_page_introduct .col-right .wrap .img-main {
    width: 100%;
    height: 207px;
    position: relative;
    transform: translateZ(100px);
    z-index: 2;
}

.tam_nhin_page_introduct .col-right .wrap .img-main img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.znColumnElement-innerWrapper-eluida599799f,
.znColumnElement-innerWrapper-eluidf0d3feab {
    padding-right: 20px;
}

@media screen and (min-width: 768px) and (max-width:992px) {
    .tam_nhin_page_introduct .col-right .wrap {
        transform: none !important;
    }

    .tam_nhin_page_introduct .col-right .wrap::after {
        bottom: 22px;
        right: -11px;
    }
}

@media screen and (max-width: 767px) {
    .tam_nhin_page_introduct .col-right {
        margin-left: 20px;
    }

    .tam_nhin_page_introduct .col-right .wrap::after {
        bottom: 35px;
        right: -12px;
    }

    .tam_nhin_page_introduct .col-right .wrap {
        transform: none !important;
    }

    .tam_nhin_page_introduct .col-right .wrap .img-main {
        height: 190px;
    }
}